{% extends "layout.html" %}
{% set t = '_test' | loadDummyData(feature) %}
{% set d = id | loadDummyData(feature) %}

{% block page_title %}
  Claim
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds column-minimum">

        <h1 class="heading-xlarge schedule-heading">
          <span class="heading-secondary">{{d.claimant.fullName}}</span>
          {{d.claimant.nino}}
        </h1>
        <span class="claim-status">
          Paused
        </span>

        {% include './_date-counter.html' %}

        <ul id="tabs" class="tabs">
          <li id="tasks" class="current">Tasks to complete</li>
          <li id="details" >Claim details</li>
        </ul>

        <div id="tasks-hidden" class="js-hidden">
          {% include './_tasks.html' %}
        </div>

        <div id="details-hidden" class="js-hidden">
          {% include '../common/_details-claimant.html' %}
          {% include '../common/_details-partner.html' %}
        </div>
      </div>

      <div class="column-one-third">
        {% include './_history.html' %}
      </div>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script>
    $(document).on('click', '#tabs li', function () {
      var id = $(this).attr('id')
      $('#tabs li').each(function () {
        $(this).removeClass('current')
      })
      $('.hidden').each(function () {
        $(this).css({'display': 'none', 'visibility': 'hidden'})
      })
      $('#' + id).addClass('current')
      $('#' + id + '-hidden').css({'display': 'block', 'visibility': 'visible'})
    })
  </script>
{% endblock %}