{% extends "layout.html" %}
{% set testDate = '18 October 2017' %}
{% set pausedActive = 'active' %}

{% block page_title %}
  Claim
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds column-minimum">
        
        <h1 class="heading-xlarge schedule-heading">
          <span class="heading-secondary">Christine Jackson</span>
          DD123456D
        </h1>
        <div>
          <span class="claim-status">PAUSED</span>
          <span class="paused-until-date"></span>
        </div>
        <div class="time-since-claim">
          <div class="data">
            <span class="data-item bold-xlarge">4 weeks</span>
            <span class="data-item bold-xsmall">since date of claim</span>
          </div>
        </div>

        <ol class="task-list">
          <li>
            <h2 class="task-list-section">
              Tasks to complete
            </h2>
            <ul>
              <li class="task-list-item">
                <a class="task-name" href="verify-marriage" aria-describedby="eligibility-completed">
                  Verify marriage
                </a>
              </li>
            </ul>
          </li>
        </ol> 

        <section>
          <h2 class="heading-medium">Log</h2>

          <h3 class="bold">Claim paused for 2 weeks on 12 October</h3>
          <div class="panel panel-border-narrow">
            Marriage could not be verified
          </div>

          <h3 class="bold">Claim paused for 2 weeks on 28 September</h3>
          <div class="panel panel-border-narrow">
            Marriage could not be verified
          </div>
        </section>
      
        <h2 class="heading-small th">
          Claimant details
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Date of claim
          </dt>
          <dd class="data-summary-value">
            25 September 2017
          </dd>

          <dt class="data-summary-key">
            Full name
          </dt>
          <dd class="data-summary-value">
            Christine Jackson
          </dd>

          <dt class="data-summary-key">
            National Insurance number
          </dt>
          <dd class="data-summary-value">
            DD123456D
          </dd>

          <dt class="data-summary-key">
            Date of birth
          </dt>
          <dd class="data-summary-value">
            5 July 1973
          </dd>

          <dt class="data-summary-key">
            Address
          </dt>
          <dd class="data-summary-value">
            8 Station Road<br />
            Manchester<br />
            Greater Manchester<br />
            MA1 4GG
          </dd>

          <dt class="data-summary-key">
            Mobile phone
          </dt>
          <dd class="data-summary-value">
            07712345678
          </dd>
        </dl>

        <h2 class="heading-small th">
          Partner details
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Full name
          </dt>
          <dd class="data-summary-value">
            Joe Jackson
          </dd>

          <dt class="data-summary-key">
            National Insurance number
          </dt>
          <dd class="data-summary-value">
            EE123456E
          </dd>

          <dt class="data-summary-key">
            Date of death
          </dt>
          <dd class="data-summary-value">
            1 August 2017
          </dd>
        </dl>

        <h2 class="heading-small th">
          Children details
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Dependant children
          </dt>
          <dd class="data-summary-value">
            Yes
          </dd>
        </dl>

        <h2 class="heading-small th">
          Verification
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Marriage
          </dt>
          <dd class="data-summary-value">
            Not verified
          </dd>

          <dt class="data-summary-key">
            Death
          </dt>
          <dd class="data-summary-value">
            Verified on 1 September 2017
          </dd>

          <dt class="data-summary-key">
            National Insurance contributions
          </dt>
          <dd class="data-summary-value">
            Verified on 1 September 2017
          </dd>

          <dt class="data-summary-key">
            Child Benefit number
          </dt>
          <dd class="data-summary-value">
            Verified on 1 September 2017
          </dd>
        </dl>
      </div>
    </div>
  </main>
{% endblock %}
