{% extends "layout.html" %}
{% set testDate = '18 October 2017' %}
{% set pausedDate = '25 October 2017' %}

{% block page_title %}
  Claim
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds column-minimum">
        {% include feature + '/' + sprint + '/' + '_paused-claim-banner.html' %}
        
        <h1 class="heading-xlarge schedule-heading">
          <span class="heading-secondary">Andrew Marshall</span>
          CC123456C
        </h1>
        <div>
          <span class="claim-status">PAUSED</span>
          <span class="paused-until-date"> until {{pausedDate}}</span>
        </div>
        <div class="time-since-claim">
          <div class="data">
            <span class="data-item bold-xlarge">3 weeks</span>
            <span class="data-item bold-xsmall">since date of claim</span>
          </div>
        </div>

        <ol class="task-list">
          <li>
            <h2 class="task-list-section">
              Tasks to complete
            </h2>
            <ul>
              <li class="task-list-item">
                <a class="task-name" href="verify-marriage" aria-describedby="eligibility-completed">
                  Verify marriage
                </a>
              </li>
            </ul>
          </li>
        </ol> 

        <section>
          <h2 class="heading-medium">Log</h2>
          <h3 class="bold">Claim paused on {{testDate}}</h3>
          <div class="panel panel-border-narrow">
            Marriage could not be verified
          </div>
        </section>
      
        <h2 class="heading-small th">
          Claimant details
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Date of claim
          </dt>
          <dd class="data-summary-value">
            4 October 2017
          </dd>

          <dt class="data-summary-key">
            Full name
          </dt>
          <dd class="data-summary-value">
            Andrew Marshall
          </dd>

          <dt class="data-summary-key">
            National Insurance number
          </dt>
          <dd class="data-summary-value">
            CC123456C
          </dd>

          <dt class="data-summary-key">
            Date of birth
          </dt>
          <dd class="data-summary-value">
            4 April 1982
          </dd>

          <dt class="data-summary-key">
            Address
          </dt>
          <dd class="data-summary-value">
            6 Charlton Road<br />
            Irving<br />
            Ayrshire<br />
            KA3 7AP
          </dd>

          <dt class="data-summary-key">
            Mobile phone
          </dt>
          <dd class="data-summary-value">
            07712345678
          </dd>

          <dt class="data-summary-key">
            Email address
          </dt>
          <dd class="data-summary-value">
            amarshall1@gmail.com
          </dd>
        </dl>

        <h2 class="heading-small th">
          Partner details
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Full name
          </dt>
          <dd class="data-summary-value">
            Rachel Marshall
          </dd>

          <dt class="data-summary-key">
            National Insurance number
          </dt>
          <dd class="data-summary-value">
            JJ123456J
          </dd>

          <dt class="data-summary-key">
            Date of death
          </dt>
          <dd class="data-summary-value">
            29 September 2017
          </dd>
        </dl>

        <h2 class="heading-small th">
          Children details
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Dependant children
          </dt>
          <dd class="data-summary-value">
            No
          </dd>

          <dt class="data-summary-key">
            Pregnant
          </dt>
          <dd class="data-summary-value">
            No
          </dd>
        </dl>

        <h2 class="heading-small th">
          Verification
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Marriage
          </dt>
          <dd class="data-summary-value">
            Not verified
          </dd>

          <dt class="data-summary-key">
            Death
          </dt>
          <dd class="data-summary-value">
            Verified on {{testDate}}
          </dd>

          <dt class="data-summary-key">
            National Insurance contributions
          </dt>
          <dd class="data-summary-value">
            Verified on {{testDate}}
          </dd>
        </dl>
      </div>
    </div>
  </main>
{% endblock %}
