{% extends "layout.html" %}

{% block page_title %}
  Confirm details
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Confirm claim details
      </h1>

      <h2 class="heading-medium">
        Claimant details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-long">
        {% for key, value in data.claimant %}
          {{t.labels[key]}}
          {% if value != '' and value.day != '' %}
            <div>
              <dt class="cya-question">
              </dt>
              <dd class="cya-answer">
                {% if value == '[object Object]' %}
                  {{value.day}} / {{value.month}} / {{value.year}}
                {% else %}
                  {{value}}
                {% endif %}
              </dd>
              <dd class="cya-change">
                <a href="#">
                  Change<span class="visually-hidden"> claimant details</span>
                </a>
              </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>

      <h2 class="heading-medium">
        Partner details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-long">
        {% for key, value in data.partner %}
          {% if value != '' and value.day != '' %}
            <div>
              <dt class="cya-question">
                {{key}}
              </dt>
              <dd class="cya-answer">
                {% if value == '[object Object]' %}
                  {{value.day}} / {{value.month}} / {{value.year}}
                {% else %}
                  {{value}}
                {% endif %}
              </dd>
              <dd class="cya-change">
                <a href="#">
                  Change<span class="visually-hidden"> claimant details</span>
                </a>
              </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>
      
      <h2 class="heading-medium">
        Payment details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-long">
        {% for key, value in data.payment %}
          {% if value != '' and value.day != '' %}
            <div>
              <dt class="cya-question">
                {{key}}
              </dt>
              <dd class="cya-answer">
                {% if value == '[object Object]' %}
                  {{value.day}} / {{value.month}} / {{value.year}}
                {% else %}
                  {{value}}
                {% endif %}
              </dd>
              <dd class="cya-change">
                <a href="#">
                  Change<span class="visually-hidden"> claimant details</span>
                </a>
              </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>

      <h2 class="heading-medium">
        Verified details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-long">
        {% for key, value in data.verification %}
          {% if value != '' and value.day != '' %}
            <div>
              <dt class="cya-question">
                {{key}}
              </dt>
              <dd class="cya-answer">
                {% if value == '[object Object]' %}
                  {{value.day}} / {{value.month}} / {{value.year}}
                {% else %}
                  {{value}}
                {% endif %}
              </dd>
              <dd class="cya-change">
                <a href="#">
                  Change<span class="visually-hidden"> claimant details</span>
                </a>
              </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>

      <br />

      <div class="form-group">
        <a href="confirmation-page" class="button">Confirm and process application</a>
      </div>

    </div>
  </div>
</main>
{% endblock %}

