<h2 class="heading-medium">
  Claimant details
</h2>

<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Date of claim
    </dt>
    <dd class="cya-answer">
      02 October 2017
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Full name
    </dt>
    <dd class="cya-answer">
      Sarah Wilson
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      National Insurance
    </dt>
    <dd class="cya-answer">
      BB123456B
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Date of birth
    </dt>
    <dd class="cya-answer">
      11 August 1950
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Current address
    </dt>
    <dd class="cya-answer">
      8 Limetree Grove<br />
      Selby<br />
      Leeds<br />
      L1 4PP
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Home phone
    </dt>
    <dd class="cya-answer">
      11311234567
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>
</dl>

<h2 class="heading-medium">
  Partner details
</h2>

<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Full name
    </dt>
    <dd class="cya-answer">
      Patrick Wilson
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      National Insurance number
    </dt>
    <dd class="cya-answer">
      HH123456H
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Date of death
    </dt>
    <dd class="cya-answer">
      10 September 2017
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>
</dl>

<h2 class="heading-medium">
  Children details
</h2>

<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Dependent children
    </dt>
    <dd class="cya-answer">
      No
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>
</dl>

<h2 class="heading-medium">
  Payment details
</h2>

<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Name on account
    </dt>
    <dd class="cya-answer">
      Mrs S Wilson
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Sort code
    </dt>
    <dd class="cya-answer">
      121234
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Account number
    </dt>
    <dd class="cya-answer">
      12341234
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>
</dl>

<h2 class="heading-medium">
  Verified details
</h2>

<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Marriage
    </dt>
    <dd class="cya-answer">
      Verified on {{testDate}}
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Death
    </dt>
    <dd class="cya-answer">
      Verified on {{testDate}}
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      National Insurance contributions
    </dt>
    <dd class="cya-answer">
      Verified on {{testDate}}
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>
</dl>
