<h2 class="heading-medium">
  Claimant details
</h2>

<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Date of claim
    </dt>
    <dd class="cya-answer">
      03 October 2017
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Full name
    </dt>
    <dd class="cya-answer">
      Andrew Marshall
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      National Insurance
    </dt>
    <dd class="cya-answer">
      CC123456C
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Date of birth
    </dt>
    <dd class="cya-answer">
      4 April 1982
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Current address
    </dt>
    <dd class="cya-answer">
      6 Charlton Road<br />
      Irving<br />
      Ayrshire<br />
      KA3 7AP
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Mobile Phone
    </dt>
    <dd class="cya-answer">
      07712345678
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Email address
    </dt>
    <dd class="cya-answer">
      amarshall1@gmail.com
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>
</dl>

<h2 class="heading-medium">
  Partner details
</h2>

<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Full name
    </dt>
    <dd class="cya-answer">
      Rachel Marshall
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      National Insurance number
    </dt>
    <dd class="cya-answer">
      JJ123456J
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Date of death
    </dt>
    <dd class="cya-answer">
      29 September 2017
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>
</dl>

<h2 class="heading-medium">
  Children details
</h2>

<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Dependant children
    </dt>
    <dd class="cya-answer">
      No
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>
</dl>

<h2 class="heading-medium">
  Payment details
</h2>

<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Name on account
    </dt>
    <dd class="cya-answer">
      Mr A Marshall
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Sort code
    </dt>
    <dd class="cya-answer">
      123456
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Account number
    </dt>
    <dd class="cya-answer">
      12345678
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>
</dl>

<h2 class="heading-medium">
  Verified details
</h2>

<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Marriage
    </dt>
    <dd class="cya-answer">
      Not verified
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Death
    </dt>
    <dd class="cya-answer">
      Verified on {{testDate}}
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>
  
  <div>
    <dt class="cya-question">
      National Insurance contributions
    </dt>
    <dd class="cya-answer">
      Verified on {{testDate}}
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> claimant details</span>
      </a>
    </dd>
  </div>
</dl>