{% extends 'layout.html' %}
{% block pageTitle %}
  Page Title
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="claim-4">Back to claim</a>
        {% include feature + '/' + sprint + '/' + '_paused-claim-banner.html' %}

        <h1 class="heading-xlarge">Have you seen proof of the marriage or civil partnership?</h1>

        <form method="post">
          <div class="form-group">
            <fieldset class="inline">
              <div class="multiple-choice" data-target="evidence">
                <input id="radio-inline-1" type="radio" name="marriageVerified" value="Yes">
                <label for="radio-inline-1">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="radio-inline-3" type="radio" name="marriageVerified" value="notYet">
                <label for="radio-inline-3">Not yet</label>
              </div>
            </fieldset>
          </div>

          <button class="button" type="submit">Update</button>
        </form>
      </div>
  </main>
{% endblock %}
