<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet.</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Children details</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Children details</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Split children verification into capture and CHB verification</li>
  <li>Added a reminder for dependand children with no CHB number</li>
  <li>Amended claim history to give more details about children situation</li>
  <li>Amended confirm and claim details to include capture and verification seperately</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Not yet researched.
</p>

<br />

<a href="/claim-capture-list/version-8" class="button button-start">Start now</a>
