{% extends "layout.html" %}
{% set serviceName = 'Apply for Bereavement Support Payment' %}

{% block page_title %}
  Children details
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          {{serviceName}}
        </h1>

        <p>
          You may be able to get Bereavement Support Payment if your spouse or 
          civil partner has died.
        </p>

        <p>
          <span class="bold">If you have dependent children:</span> you could get an initial payment of 
          £3,500 followed by 12 monthly payments of £350.
        </p>

        <p>
          <span class="bold">If you don't have any dependent children:</span> you could get an initial 
          payment of £2,500 followed by 12 monthly payments of £150.
        </p>

        <h2 class="heading-medium">
          To get Bereavement Support Payment:
        </h2>
        <ul class="list list-bullet">
          <li>you must be under State Pension age</li>
          <li>
            you must have been married or in a civil partnership when your spouse 
            or civil partner died
          </li>
          <li>
            you must make a claim within a year of your spouse or civil partner’s 
            death
          </li>
          <li>
            your parner must have paid at least 6 months of National Insurance 
            contributions or equivalent
          </li>
        </ul>

        <h2 class="heading-medium">
          To make your application you’ll need:
        </h2>
        <ul class="list list-bullet">
          <li>the date your spouse or civil partner died</li>
          <li>your spouse or civil partner’s National Insurance number</li>
          <li>your National Insurance number</li>
          <li>your bank details</li>
          <li>
            to send the Bereavement Support Payment team your marriage or civil 
            partnership certificate, if you have it
          </li>
        </ul>

        <p>
          <a class="button button-start" href="/{{feature}}/{{sprint}}/were-you-married" role="button">Start now</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
