{% extends 'layout.html' %}
{% block pageTitle %}
  Page Title
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="/{{feature}}/{{sprint}}/claim-1">Back to claim</a>

        <h1 class="heading-xlarge">
          Can you prove that the deceased paid enough National Insurance contributions?
        </h1>

        <form method="post">
          <div class="form-group">
            <fieldset>     
              <div class="multiple-choice">
                <input id="radio-inline-1" type="radio" name="contsVerified" value="enough">
                <label for="radio-inline-1">Yes, and they have paid enough conts</label>
              </div>
          
              <div class="multiple-choice">
                <input id="radio-inline-2" type="radio" name="contsVerified" value="notEnough">
                <label for="radio-inline-2">Yes, and they have not paid enough conts</label>
              </div>
            </fieldset>
          </div>

          <button class="button" type="submit">Update</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
