// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: '/public/images/';

$button-red-border: #790000;
$grey333: #333;
$grey666: #666;
$grey999: #999;

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';
@import 'conditionals2';
@import 'header';
@import 'notification-banner';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

@import 'find-a-payment-schedule';
@import 'schedule';
@import 'homepage-top';
@import 'example';
@import 'nav';
@import 'big-links';
@import 'bank-details';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.data-summary {
  @extend %contain-floats;

  border-bottom: 1px solid $border-colour;
  margin-bottom: 2em;
  max-width: 30em;
}

.data-summary-key,
.data-summary-value {
  @include box-sizing(border-box);

  border-top: 1px solid $border-colour;
  float: left;
  padding: .63158em 1.05263em .47368em 0;
  width: 50%;
}

.data-summary-key {
  clear: left;
}

.payment-link {
  float: right;
  font-weight: 700;
  margin: 0;
}

.evidence-needed {
  display: block;
  text-align: right;
}

.alert-default {
  border-color: $light-blue;
  background-color: mix(white, $light-blue, 90%);
}
