{% extends "layout.html" %}
{% set d = 'paused-2' | loadDummyData %}

{% block page_title %}
  Claim
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds column-minimum">        
        <h1 class="heading-xlarge schedule-heading">
          <span class="heading-secondary">
            {{d.claimant.fullName}}
          </span>
          {{d.claimant.nino}}
        </h1>
        <div>
          <span class="claim-status">{{d.claim.status}}</span>
          {% if d.claim.pausedDate %}
            <span class="paused-until-date"> until {{d.claim.pausedDate}}</span>
          {% endif %}
        </div>

        <div class="time-since-claim">
          <div class="data">
            <span class="data-item bold-xlarge">{{d.claim.weeksSinceClaim}} weeks</span>
            <span class="data-item bold-xsmall">since date of claim</span>
          </div>
        </div>

        <ol class="task-list">
          <li>
            <h2 class="task-list-section">
              Tasks to complete
            </h2>
            <ul>
              <li class="task-list-item">
                <a class="task-name" href="verify-marriage/4" aria-describedby="eligibility-completed">
                  Verify marriage
                </a>
              </li>
            </ul>
          </li>
        </ol> 
      
        {% include './claim_claimant-details.html' %}
        {% include './claim_partner-details.html' %}
        {% include './claim_children-details.html' %}
        {% include './claim_payment-details.html' %}

        <h2 class="heading-small th">
          Verification
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Marriage
          </dt>
          <dd class="data-summary-value">
            Not verified
          </dd>

          <dt class="data-summary-key">
            Death
          </dt>
          <dd class="data-summary-value">
            Verified on 19 October 2017
          </dd>

          <dt class="data-summary-key">
            National Insurance contributions
          </dt>
          <dd class="data-summary-value">
            Verified on 19 October 2017
          </dd>
        </dl>
      </div>

      <div class="column-one-third">
        <h2 class="heading-medium">Claim history</h2>
        <ul class="log">

          {% include feature + '/' + sprint + '/claim-4_log.html' %}
        </ul>
      </div>
    </div>
  </main>
{% endblock %}
