{% extends "layout.html" %}
{% set d = 'paused-1' | loadDummyData %}

{% block page_title %}
  Claim
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include feature + '/' + sprint + '/' + '_paused-claim-banner.html' %}
    <div class="grid-row">
      <div class="column-two-thirds column-minimum">   
             
        <h1 class="heading-xlarge schedule-heading">
          <span class="heading-secondary">
            {{d.claimant.fullName}}
          </span>
          {{d.claimant.nino}}
        </h1>
        <div>
          <span class="claim-status claim-status-rejected">Disallowed</span>
        </div>
      
        {% include './claim_claimant-details.html' %}
        {% include './claim_partner-details.html' %}
        {% include './claim_children-details.html' %}
        {% include './claim_payment-details.html' %}

        <h2 class="heading-small th">
          Verification
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Marriage
          </dt>
          <dd class="data-summary-value">
            Verified on {{d.testDate}}
          </dd>

          <dt class="data-summary-key">
            Death
          </dt>
          <dd class="data-summary-value">
            Verified on 19 October 2017
          </dd>

          <dt class="data-summary-key">
            National Insurance contributions
          </dt>
          <dd class="data-summary-value">
            Verified on 19 October 2017
          </dd>
        </dl>
      </div>

      <div class="column-one-third">
        <h2 class="heading-medium">Claim history</h2>
        <ul class="log">
          <li>
            <span class="line"></span>
            <h3 class="bold">Claim disallowed</h3>
            <span class="paused-until-date">by {{data.currentUser or 'John Doe'}}</span><br />
            <span class="paused-until-date">{{d.testDate}}</span>
            <p>Claimant and partner were not married at time of death.</p>
          </li>

          {% include feature + '/' + sprint + '/claim-3_log.html' %}
        </section>
      </ul>
    </div>
  </main>
{% endblock %}
