{% extends 'layout.html' %}
{% block pageTitle %}
  Page Title
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="/{{feature}}/{{sprint}}/claim-1">Back to claim</a>

        <h1 class="heading-xlarge">Verify address</h1>

        <form method="post">
          <div class="form-group">
            <fieldset class="inline">
              <legend class="visually-hidden">Verify address</legend>
              
              <p>
                Some text about how to verify the address.
              </p>

              <div class="form-group">
                <h2 class="heading-small">Address on application form</h2>
                <div class="panel panel-border-narrow">
                  1 Some street<br />
                  Some town<br />
                  Some county<br />
                  PO57 0DE
                </div>
              </div>

              <h2 class="heading-medium">Is their address valid?</h2>

              <div class="multiple-choice">
                <input id="radio-inline-1" type="radio" name="addressVerified" value="Yes">
                <label for="radio-inline-1">Yes</label>
              </div>
          
              <div class="multiple-choice">
                <input id="radio-inline-2" type="radio" name="addressVerified" value="No">
                <label for="radio-inline-2">No</label>
              </div>
            </fieldset>
          </div>

          <button class="button" type="submit">Update</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
