{% extends 'layout.html' %}
{% block pageTitle %}
  Page Title
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-large">
          Payment details
        </h2>

          <form method="post">
            <div class="form-group">
              <label class="form-label" for="full-name-f1">Name of account holder</label>
              <input class="form-control" id="full-name-f1" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="full-name-f1">Full name of bank or building society</label>
              <input class="form-control" id="full-name-f1" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="full-name-f1">Sort code</label>
              <input class="form-control" id="full-name-f1" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="full-name-f1">Account number</label>
              <input class="form-control" id="full-name-f1" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="full-name-f1">Building society roll or reference number</label>
              <input class="form-control" id="full-name-f1" type="text">
            </div>

            <button type="submit" class="button">Continue</button>
          </form>
      </div>
    </div>
  </main>
{% endblock %}
