<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>1 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-865</dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to further research the standard to higher journey. In this 
  version, the agent can enter a date for when they want the higher rate to be 
  effective from.
</p>

<p>
  NINO required for schedule is: <strong class="bold">AB123456C</strong>.
  The backdated date is 5 April 2017.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/payment-scheduler/version-13" class="button button-start">Start now</a>
