<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>23 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-817</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Offline, batch process</h2>
<p>
  First attempt.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to test what happens when an agent tries to use the service 
  during the batch process.
</p>

<h3 class="heading-small">Research notes</h3>
<p>Not researched yet.</p>

<br />

<a href="/payment-scheduler/version-14" class="button button-start">Start now</a>
