<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>4 May 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BSP-661</dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">Changes made</h3>

<p>
  Changed the content asking the agent if they have made all of the clerical 
  payments to date. Added in the overseas country selector so that it could be 
  tested with IPC.
</p>

<h3 class="heading-small">Research notes</h3>
<p>Not researched yet.</p>

<br />

<a href="/payment-scheduler/version-7" class="button button-start">Start now</a>
