<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>12 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-912</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Clerical to system</h2>
<p>
  Wording around 'have all payments been made up to yesteday'.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to test the clerical to system process again. In this 
  version the question has been changed to 'Have all payments up to and including 
  yesterday been made?'
</p>

<p>
  The validation messages have also been changed. Enter 8 digits into the account 
  number field to activate the error messages.
</p>

<h3 class="heading-small">Research notes</h3>
<p>Not researched yet.</p>

<br />

<a href="/payment-scheduler/version-12" class="button button-start">Start now</a>
