<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-181</dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to test the validation messaging on the bank details. When 
  submitting the form for the first time, if there is 8 or more characters in the 
  account number box, a function will switch out the last character that has 
  been entered, effectively creating a typo. This enables us to test the 
  validation messages in a more realistic environment.
</p>

<h3 class="heading-small">Research notes</h3>
<p>Not researched yet.</p>

<br />

<a href="/payment-scheduler/version-10" class="button button-start">Start now</a>
