<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>1 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-865</dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to test the upgrading a claim from standard rate to higher 
  rate. For the sake of this prototype all of the set up a payment schedule 
  features have been turned off, and are limited to find a schedule, view a 
  schedule and upgrade a schedule.
</p>

<p>
  To find the schedule, search for the following Nino: <strong class="bold">AB123456C</strong>
</p>
<h3 class="heading-small">Research notes</h3>
<p>Not researched yet.</p>

<br />

<a href="/payment-scheduler/version-11" class="button button-start">Start now</a>
