<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>22 May 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-707</dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">Changes made</h3>

<p>
  Exploring what happens if an agent tries to create a schedule when there is 
  already an active schedule currently assigned to a particular NINO.
</p>

<p>
  Use <strong class="bold">AB123456C</strong> to get this behavour to show in the prototype.
</p>

<h3 class="heading-small">Research notes</h3>
<p>Research notes to follow.</p>

<br />

<a href="/payment-scheduler/version-9" class="button button-start">Start now</a>
