{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <a href="/{{feature}}/{{sprint}}/have-any-payments-been-made-manually" class="link-back">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Manual payments must be up to date before creating a payment schedule.
        </h1>

        <p>
          If the claimant is owed any payments before today, use CPS to make these 
          manually before moving the claim to BSP Manager.
        </p>

        <div class="form-group">
          <div class="notice">
            <i class="icon icon-important">
              <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
              BSP Manager will only pay future payments from this point onwards. 
              Any payments the claiment is owed will not be paid unless they are 
              processed manually. 
            </strong>
          </div>
        </div>
        
        <a href="/{{feature}}/{{sprint}}/set-up-a-payment-schedule" class="button">All payments are now up to date</a>
      </div>
    </div>
  </main>
{% endblock %}

