{% extends "layout-blank.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
<style>
  html {background-color: #ffffff}
  li .schedule-status {margin-bottom: 0;}
  #footer {border-top: 0;}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class=heading-xlarge>
        We're busy sending payments
      </h1>

      <p>
        The service will be available again tomorrow.
      </p>
    </div>
  </div>
</main>

{% endblock %}
