{% if data.marriage.verified %}
  <h2 class="heading-small th">
    Marriage or civil partnership
    {% if data.marriage.verified === 'Yes' %}
      <p class="payment-link verified">
        Verified
      </p>
    {% endif %}
  </h2>

  <dl class="data-summary">
    <dt class="data-summary-key">
      Evidence
    </dt>
    {% if data.marriage.verified === 'Yes' %}
      <dd class="data-summary-value">
        {% for ev in data.marriage['what-evidence'] %}
          {{ev}}<br />
        {% endfor %}
        <span class="change-link">
          <a href="/{{feature}}/{{sprint}}/verify/marriage/{{scenario}}">
            Change <span class="visually-hidden"> evidence of marriage or civil partnership</span>
          </a>
        </span>
      </dd>
      <dd class="data-summary-key">
        Date
      </dd>
      <dd class="data-summary-value">
        {{d.marriage.dateOfMarriage}}
        <span class="change-link">
          <a href="/{{feature}}/{{sprint}}/verify/marriage/{{scenario}}">
            Change <span class="visually-hidden"> date of marriage or civil partnership</span>
          </a>
        </span>
      </dd>
    {% else %}
      <dd class="data-summary-key">
        Evidence
      </dd>
      <dd class="data-summary-value">
        Evidence of marriage or civil partnership needed
      </dd>
    {% endif%}
  </dl>
{% endif %}

{% if data.dateOfdeath %}
  <h2 class="heading-small th">
    Death
    {% if data.dateOfdeath %}
      <p class="payment-link verified">
        Verified
      </p>
    {% endif %}
  </h2>

  <dl class="data-summary">
    <dt class="data-summary-key">
      Evidence
    </dt>
    {% if data.dateOfdeath %}
      <dd class="data-summary-value">
        {% for ev in data.death['what-evidence'] %}
          {{ev}}<br />
        {% endfor %}
        <span class="change-link">
          <a href="/{{feature}}/{{sprint}}/verify/death/{{scenario}}">
            Change <span class="visually-hidden"> evidence of death</span>
          </a>
        </span>
      </dd>
      <dd class="data-summary-key">
        Date
      </dd>
      <dd class="data-summary-value">
        {{d.partner.dateOfDeath}}
        <span class="change-link">
          <a href="/{{feature}}/{{sprint}}/verify/death/{{scenario}}">
            Change <span class="visually-hidden"> verified date of death</span>
          </a>
        </span>
      </dd>
    {% else %}
      <dd class="data-summary-key">
        Evidence
      </dd>
      <dd class="data-summary-value">
        Evidence of death needed
      </dd>
    {% endif%}
  </dl>
{% endif %}

{% if data.conts %}
  <h2 class="heading-small th">
    National Insurance contributions
    {% if data.conts %}
      <p class="payment-link verified">
        Verified
      </p>
    {% endif %}
  </h2>

  <dl class="data-summary">
    <dt class="data-summary-key">
      Year
    </dt>
    <dd class="data-summary-value">
      {{data.conts.year or '2015'}}
      <span class="change-link">
        <a href="/{{feature}}/{{sprint}}/verify/contributions/{{scenario}}">
          Change <span class="visually-hidden"> year used for National Insurance contributions</span>
        </a>
      </span>
    </dd>

    <dt class="data-summary-key">
      Industrial injury or illness
    </dt>
    <dd class="data-summary-value">
      {% if data.conts.industrialInjury === 'Yes' %}
        Yes
      {% else %}
        No
      {% endif %}
      <span class="change-link">
        <a href="/{{feature}}/{{sprint}}/verify/contributions/{{scenario}}">
          Change <span class="visually-hidden"> answer for industrial injury or illness</span>
        </a>
      </span>
    </dd>
  </dl>
{% endif %}

{% if data.chb %}
  <h2 class="heading-small th">
    Child Benefit
    {% if data.conts %}
      <p class="payment-link verified">
        Verified
      </p>
    {% endif %}
  </h2>

  <dl class="data-summary">
    <dt class="data-summary-key">
      Child Benefit number
    </dt>
    <dd class="data-summary-value">
      {{data.chb['number'] or d.chb['number'] or 'Missing'}}
      <span class="change-link">
        <a href="/{{feature}}/{{sprint}}/verify/child-benefit/{{scenario}}">
          Change <span class="visually-hidden"> Child Benefit number</span>
        </a>
      </span>
    </dd>
  </dl>
{% endif %}
