<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>CIS Integration</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">CIS Integration</h2>

<p>
  ...
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/integration/version-23" class="button button-start">Start now</a>
