<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>26 June 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Stop a claim</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Stop a claim</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Idicate a claimant died</li>
  <li>Idicate a claimant has been imprisoned</li>
  <li>Idicate a claim is to be paid manually</li>
  <li>Idicate a claim is fraudulent</li>
  <li>Idicate a claim was set up in error</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/integration/version-6" class="button button-start">Start now</a>
