<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>14 November 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim capture</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">Changes</h3>

<p>
  In this version, the paused claim banner has been redesigned to be a page.
</p>

<p>
  The verification questions have been reworded to make it more obvious that it 
  wants you to refer to the claim form. We've also added fields so that the 
  verification can be recorded. Eg: Date of marriage and Child Benefit number.
</p>

<p>
  Changed the routing, so that payment details are not captured if the system 
  knows they are ineligible. Also, the date of claim has now been moved to the 
  end of the capture, so that it matches the claim form.
</p>

<p>
  Added the ability to pause a claim for the payment details being missing.
</p>

<p>
  Explored being able to save where you're up to should you have to deal with an 
  inquiry half way through capturing a claim.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Research notes to follow.
</p>

<br />

<a href="/claim-capture/version-3" class="button button-start">Start now</a>
