{% extends "layout.html" %}
{% set showDetails = true %}

{% block page_title %}
  Payment schedule
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="grid-row">
      <div class="column-two-thirds">
        
        <h1 class="heading-xlarge schedule-heading">
        <span class="heading-secondary">
          {{d.claimant.fullName}}
        </span>
          {{d.claimant.nino}}
        </h1>
        <span class="schedule-status {{'schedule-status-active' if scenario === '1'}}">
          {{'Active' if scenario === '1' else 'Finished' }}
        </span>

        <div class="alert-default panel panel-border-narrow">
          There is no claim attached to this payment schedule. To view the claim 
          details you will need to look up the claim form in the Document Repository 
          System (DRS).
        </div>

        {% include '../common/_details-payment.html' %}

        <h2 class="heading-small th">
          Rate
          {% if d.schedule.rate === 'Standard' %}
            <p class="payment-link">
              {% if scenario === '1' %}
                <a href="#">
                  Change
                </a>
              {% endif %}
            </p>
          {% endif %}
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            {{d.schedule.rate}}
          </dt>
          <dd class="data-summary-value">
          </dd>
        </dl>
      </div>
    </div>

    {% include './scenarios/' + scenario + '.html' %}
    
    </div>
  </main>
{% endblock %}
