{% extends "layout.html" %}

{% block page_title %}
  Duplicate claim
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a href="/{{feature}}/{{sprint}}/start-a-new-claim/{{scenario}}" class="link-back">Back</a>


        <h1 class="heading-large">
          You can't process this claim right now
        </h1>
      
        <p class="text">
          Somebody has already made a claim for Bereavement Support Payment using 
          the deceased persons National Insurance number:<br />
          <span class="bold">{{d.partner.nino}}</span>.
        </p>
        
        <a href="/{{feature}}/{{sprint}}/claim/{{scenario}}/allowed">View the other claim using this National Insurance number</a>
      </div>
    </div>
  </main>
{% endblock %}