{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers before sending your application
  </h1>

  <table class="check-your-answers">
    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            About you
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Full name
        </td>
        <td>
          John smith
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="check-your-answers">
    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            About your partner
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Full name
        </td>
        <td>
          Jane Doe
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <br />

  <div class="form-group">
    <a href="home" class="button">Accept and set up claim</a>
  </div>

</main>

{% endblock %}
