<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>24 April 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim management</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">First iteration</h3>

<p>
  In this prototype, we were looking at how agents might handle the processing 
  of claims. The prototype looks at pulling a claim from a queue and trying 
  to verify the evidence to put the claim into payment.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  In general, this tested well. It became apparent that there were several holes 
  in the journey. For example, if you know for definitely they were never married, 
  then you get stuck in a loop of permanantely pausing the claim.
</p>

<p>
  There is more work to do around the system making decisions based on evidence, 
  and also around the starting page as it is not clear whether process a claim 
  or capture a claim is more important.
</p>

<p>
  The payment scheduler might also need more work to allow a claim to be upgraded 
  if Child Benefit is verified at a later date.
</p>

<br />

<a href="/claim-management/version-1" class="button button-start">Start now</a>
