{% extends "layout-index.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="homepage-top">
  <div class="homepage-top-content">
    <h1 class="heading-xlarge">
      BSP Manager
      <span>Prototypes</span>
    </h1>
  </div>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="example">
        {% include 'summaries/payment-scheduler/version-17.html' %}
      </div>

      <h2 class="heading-large">All versions</h2>
       <details>
        <summary><span class="summary">Claim management</span></summary>
        <div class="panel">
          {% include 'summaries/claim-management/version-2.html' %}<hr />
          {% include 'summaries/claim-management/version-1.html' %}<hr />
        </div>
      </details>

      <details>
        <summary><span class="summary">Payment scheduler</span></summary>
        <div class="panel">
          {% include 'summaries/payment-scheduler/version-17.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-16.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-15.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-14.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-13.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-12.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-11.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-10.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-9.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-8.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-7.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-6.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-5.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-4.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-3.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-2.html' %}
          {#{% include 'summaries/version-1.html' %}#}
        </div>
      </details> 
    </div>
  </div>
</main>

{% endblock %}


