{% extends "layout-index.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="homepage-top">
  <div class="homepage-top-content">
    <h1 class="heading-xlarge">
      BSP Manager
      <span>Prototypes</span>
    </h1>
  </div>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="example">
        {% include 'summaries/payment-scheduler/version-8.html' %}
      </div>

      <h2 class="heading-large">All versions</h2>
      <details>
        <summary>Claim management</summary>
        {% include 'summaries/claim-management/version-2.html' %}<hr />
        {% include 'summaries/claim-management/version-1.html' %}<hr />
      </details>

      <details>
        <summary>Payment scheduler</summary>
        {% include 'summaries/payment-scheduler/version-10.html' %}<hr />
        {% include 'summaries/payment-scheduler/version-9.html' %}<hr />
        {% include 'summaries/payment-scheduler/version-8.html' %}<hr />
        {% include 'summaries/payment-scheduler/version-7.html' %}<hr />
        {% include 'summaries/payment-scheduler/version-6.html' %}<hr />
        {% include 'summaries/payment-scheduler/version-5.html' %}<hr />
        {% include 'summaries/payment-scheduler/version-4.html' %}<hr />
        {% include 'summaries/payment-scheduler/version-3.html' %}<hr />
        {% include 'summaries/payment-scheduler/version-2.html' %}
        {#{% include 'summaries/version-1.html' %}#}
      </details>      
    </div>
  </div>
</main>

{% endblock %}


