{% extends "govuk_template.html" %}
{% set global_header_text = "DWP" %}
{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block after_header %}
  <nav class="nav-bar">
    <ul>
      <li>
        <a href="/{{feature}}/{{sprint}}/capture-a-claim">Capture a claim</a>
      </li>

      <li>
        <a href="/{{feature}}/{{sprint}}/process-a-claim" class="">Process a claim</a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  {% block pageScripts %}{% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li><a href="/prototype-admin/clear-data">Clear data</a></li>
    </ul>
  {% endif %}
{% endblock %}