<li class="task-list-item">
  <a class="task-name" href="/{{feature}}/{{sprint}}/verify/death/{{scenario}}">
    Death
  </a>
  {% if scenario === '1' %}
        <strong class="task-completed" id="eligibility-completed">Completed</strong>
  {% elif data.death.form or bf %}
    {% if data.wait.death === 'Yes' %}
      <strong class="task-incomplete" id="eligibility-completed">Not complete</strong>
    {% else %}
      <strong class="task-completed" id="eligibility-completed">Completed</strong>
    {% endif %}
  {% endif %}
</li>